body {
    background-color: 'tomato';
    background-image: url("./images/fondo-diapositivas.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-style:italic

}
.content {
    border-radius: 5px;
    width: 650px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    display: flex;
    margin-top: 60px
}
#imagen {
    height: 400px;
    background-color: black;
    align-items: center;
}
.buttons {
    margin-top: 20px;
}