body {
    background-color: 'tomato';
    background-image: url("./images/fondo-diapositivas.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2 {
    text-align: center;
    margin-top: 3%;
    color: white;
    font-size: 2.5em;
    font-style:italic

}
.content {
    border-radius: 5px;
    background-image: url("./images/fondo.jpg");
    width: 650px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    display: flex;
    margin-top: 60px
}
#imagen {
    height: 400px;
    background-color: black;
    align-items: center;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    background-color: rgba(99, 182, 182, 0.849);
    border-radius: 4px;
    font-weight: bold;
}